.container {
    background-color: papayawhip;
    padding: 20px;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 20px 20px;  
}

.item {
    background-color: rgba(255, 157, 0, 0.459);
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}

.two {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}