* {
    margin: 0;
}

header {
    align-items: center;
    background: rgb(59,2,133);
    background: linear-gradient(180deg, rgba(59,2,133,1) 0%, rgba(105,7,233,1) 100%);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 100px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.header-grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 3fr;
    align-items: center;
}

.header-item {
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-weight: 100;
}

.logo {
    text-align: left;
    font-family: 'Fredoka', sans-serif;
}

.btn-tickets {
    font-family: 'Fredoka', sans-serif;
    justify-self: end;
    width: 50%;
    text-align: center;
    align-items: right;
    background-color: rgb(125, 14, 230);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

.btn-tickets:hover {
    background-color: rgb(102, 3, 194);
    transition: 1s;
}

.hero-content {
    background-color: rgb(29, 29, 29);
    height: 92vh;
    text-align: center;
}